.infoBox{
    flex: 1;
    cursor: pointer;
}
.infoBox:not(:last-child){
    margin-right: 16px;
}
.infoBox_cases{
    color: #cc1034;
    font-weight: 600;
    font-size: 1.75em;
    margin-bottom: 0.5rem;
}
.infoBox_total{
    color: #6c757d;
    font-weight: 700!important;
    font-size: 0.8rem!important;
    margin-top: 15px!important;
}
.infobox-selected{
    border-top: 10px solid #7dd71d;
}
.infobox-red{
    border-color: red;
}
.InfoBox_cases-green{
    color: #7dd71d!important;
}